# Ignorer les fichiers/dossiers de développement
.git
.gitignore
.vscode
.idea
.cursor
*~
*.swp

# Ignorer les dossiers de build déjà existants
target/*
!target/quarkus-app/

# Ignorer les fichiers de logs
*.log

# Ne pas ignorer les fichiers essentiels
!pom.xml
!src/
!mvnw
!mvnw.cmd
